.taowa-begin{
	
	
	
	display: grid;
	width: 100%;
	height: auto;
	grid-column-gap:0px;
	grid-row-gap:0px;
	grid-template-columns:3% 1fr 3%;
	grid-template-rows: repeat(5,1fr);
	grid-template-areas:
	"begin s s s s s s u"
}