*{
	margin:0;
	padding:0;
}
.headerr{
			background:whitesmoke;
			
			
			display: grid;
			width: 100%;
			height: auto;
			grid-column-gap:0px;
			grid-row-gap:0px;
			grid-template-columns:repeat(8,1fr) ;
			grid-template-rows: 80px;
			grid-template-areas:
			"begin s s s s s s u"
		}
		.head{
			background: #689C97;
			grid-area:begin;
			position: relative;
			
			}
		
		.user{
			background: #689C97;
			grid-area:u
			
			
		}
		


.searcher{
			background: whitesmoke;
			grid-area:s;
			position: relative;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		.searcher .search {
		  position: absolute;
		  margin: auto;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  width: 60px;
		  height: 60px;
		  background: #689C97;
		  border-radius: 50%;
		  transition: all 1s;
		  z-index: 4;
		  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
		}
		.searcher .search:hover {
		  cursor: pointer;
		}
		.searcher .search::before {
		  content: "";
		  position: absolute;
		  margin: auto;
		  top: 22px;
		  right: 0;
		  bottom: 0;
		  left: 22px;
		  width: 12px;
		  height: 2px;
		  background: white;
		  transform: rotate(45deg);
		  transition: all .5s;
		}
		.searcher .search::after {
		  content: "";
		  position: absolute;
		  margin: auto;
		  top: -5px;
		  right: 0;
		  bottom: 0;
		  left: -5px;
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  border: 2px solid white;
		  transition: all .5s;
		}
		.searcher input {
		  font-family: 'Inconsolata', monospace;
		  position: absolute;
		  margin: auto;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  width: 50px;
		  height: 50px;
		  outline: none;
		  border: none;
		  background: #9BCFB8;
		  color: white;
		  text-shadow: 0 0 5px #9BCFB8;
		  padding: 0 80px 0 20px;
		  border-radius: 30px;
		  box-shadow: 0 0 5px 0 #9BCFB8, 0 2px 5px 0 rgba(0, 0, 0, 0.2);
		  transition: all 1s;
		  opacity: 0;
		  z-index: 5;
		  font-weight: bolder;
		  letter-spacing: 0.1em;
		}
		.searcher input:hover {
		  cursor: pointer;
		}
		.searcher input:focus {
		  width: 350px;
		  opacity: 1;
		  cursor: text;
		}
		.searcher input:focus ~ .search {
		  right: -350px;
		  background: #7FB174;
		  z-index: 6;
		}
		.searcher input:focus ~ .search::before {
		  top: 0;
		  left: 0;
		  width: 25px;
		}
		.searcher input:focus ~ .search::after {
		  top: 0;
		  left: 0;
		  width: 25px;
		  height: 2px;
		  border: none;
		  background: white;
		  border-radius: 0%;
		  transform: rotate(-45deg);
		}
		.searcher input::placeholder {
		  color: white;
		  opacity: 0.5;
		  font-weight: bolder;
		}